html[data-theme='dark'] {
    .ant-layout .ant-layout-header {
        background: #141414;
    }
}

html,
html[data-theme='light'] {
    .ant-layout .ant-layout-header {
        background: #fff;
    }
}

.ant-drawer-content-wrapper,
.ant-drawer-content {
    border-radius: 20px;
}